.panel.panel-default.col-md-offset-1.col-md-10{
	padding: 0px;
}

.theme-default.page-signin .signin-info, .theme-default.page-signup .signup-header {
    background: rgba(38, 79, 105, 0.8);
}

.navbar-default {
    border-color: #d0d0d0;
}

.panel-default>.panel-heading, .panel-heading {
    background-color: #dcdadacc;
}

.theme-default {
    background: #eceff1;
}
.display-none{
	display: none;
}

.link-esquecer-senha{
	position: relative;
    top: 7px;
}

#page-signin-bg .overlay {
    background: transparent;
}

.acoes-pesquisa-usuario{
	width: 105px;
}

.padding-left-right-none{
	padding-left: 0px;
    padding-right: 0px;
}

/* CSS used here will be applied after bootstrap.css */
.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-warning {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-danger {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-primary {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.btn-relatorio-usuario-download{
    position: absolute;
    right: 20px;
    bottom: 4px;
}

.page-signin .form-group.w-icon .signin-form-icon {
    border-right: none;
}

.display-block{
    display: block;
}